---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Talkative - Connection";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Connection</h1>
    <p>This is just an example page</p>
  </div>
</BaseLayout>
